params.outdir = 's3://altmx-artemis/data/pubmed/'
params.env = 'prod'

process {
    container = 'public.ecr.aws/alethiotx/pubmed:latest'
}

profiles {
    local {
        includeConfig 'conf/base.config'
        includeConfig 'conf/local.config'
    }
    seqera {
        includeConfig 'conf/base.config'
    }
}
